#controlpanel {height:1.5em;padding-top:5px}
#searchresult{
    color:white;
    height: 46vh;overflow-y: scroll;padding:5px;background-color:rgb(85, 68, 52)}
input.filepat {width:8em}
input.tofind {width:50vw}
.resultfilename{font-size:80%;border-radius:5px;background-color:rgb(53, 44, 44);color:white}
.paranum{font-size:80%;background:rgb(175, 175, 103);color:black;margin:5px 5px;border-radius: 3px 3px;}
.resultitem{border-bottom:dashed rgb(128, 126, 126) 1px;cursor: pointer;}
.resultitem:hover{background:rgb(70, 14, 14)}
.cm-s-ambiance .CodeMirror-activeline-background {
    background: none repeat scroll 0% 0% rgba(59, 39, 238, 0.966);
  }
body{font-family:'Times New Roman', Times, serif;overflow-y: hidden;margin:0 0}